{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row mb-4">
        <div class="col-12">
            <h2>Admin Dashboard</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Students</div>
                <div class="card-body">
                    <h5 class="card-title">Manage Students</h5>
                    <p class="card-text">View, Add, Edit, and Delete students.</p>
                    <a href="{% url 'students:student_list' %}" class="btn btn-light">Go to Students</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Courses</div>
                <div class="card-body">
                    <h5 class="card-title">Manage Courses</h5>
                    <p class="card-text">Create and assign courses.</p>
                    <a href="{% url 'courses:course_list' %}" class="btn btn-light">Go to Courses</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}